<footer class="container-fluid">
    <div class="row">
        <div class="col">
            <p>
               By submitting this assignment I declare that this assignment is my own work in accordance with<br>
            the Seneca Academic Policy. No part of this assignment has been copied manually or<br>
            electronically from any other source (including web sites) or distributed to other students.<br>
            © Seungmoon Lee, slee544@myseneca.ca, WEB322 Winter 2023
            </p>
        </div>
    </div>

    <div class="row align-items-end">
        <div class="col-sm">
            <div class="link-items-heading">Links</div>
            <a href="/">
                <div class="link">Home</div>
            </a>
            <a href="/rentals">
                <div class="link">Rental</div>
            </a>
            <a href="/sign-up">
                <div class="link">Sign Up</div>
            </a>
            <a href="/log-in">
                <div class="link">Log In</div>
            </a>
        </div>
        <div class="col-sm">
            <div class="row links-row">
                <div class="col-3"><a href="https://www.facebook.com/">
                    <div class="social-link"><img src="/image/facebook.png" alt="facebook"></div>
                </a></div>
                <div class="col-3"><a href="https://www.linkedin.com/">
                    <div class="social-link"><img src="/image/linkedin.png" alt="linkedin"></div>
                </a></div>
                <div class="col-3"><a href="https://twitter.com/">
                    <div class="social-link"><img src="/image/twitter.png" alt="twitter"></div>
                </a></div>
                <div class="col-3"><a href="https://www.youtube.com/">
                    <div class="social-link"><img src="/image/youtube.png" alt="youtube"></div>
                </a></div>
            </div>
        </div>
    </div>

    <style>
        footer.container-fluid {
            padding: 70px 40px;
        }

        @media only screen and (max-width: 300px) {
            .links-row div {
                justify-items: center;
                padding: 10px 0;
            }
        }
    </style>
</footer>