<h1>Welcome to the Cart</h1>
<p>Hello customer! This is your shopping cart. In the future, this page will display a list of rentals that you have reserved. For now, this feature is under development. Thank you for your patience.</p>
