<div>
    <div class="row align-items-center" style="height: 100vh;">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <form class="form-example" action="">
                <center> <h1>Welcome Back</h1></center>
                <div class="form-group">
                    <input type="text" class="form-control username" id="username" placeholder="Email Address"
                        name="username" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control password" id="password" placeholder="Password"
                        name="password" />
                </div>

                <div class="alert alert-danger d-none" id="error-msg">
                    You should enter something
                </div>

                <button type="submit" class="btn btn-primary btn-customized mt-4">
                    Login
                </button>
            </form>
        </div>
    </div>
</div>

<style>
    .mx-auto {
        border-style: solid;
        padding: 10px;
        margin: 0px 10px;
        color: rgb(70, 169, 173);
    }

    input.form-control {
        margin-bottom: 20px;
    }

    h1 {
        padding-bottom: 15px;
    }
</style>

<script>
    const form = document.querySelector('.form-example');
    const username = document.querySelector('.username');
    const password = document.querySelector('.password');
    const errorMsg = document.querySelector('#error-msg');

    form.addEventListener('submit', (event) => {
        event.preventDefault();
        if (!username.value.trim() || !password.value.trim()) {
            errorMsg.classList.remove('d-none');
        } else {
            // Perform login
        }
    });

    username.addEventListener('input', () => {
        if (username.value.trim()) {
            errorMsg.classList.add('d-none');
        }
    });

    password.addEventListener('input', () => {
        if (password.value.trim()) {
            errorMsg.classList.add('d-none');
        }
    });
</script>
