<div>
    <div class="row align-items-center" style="height: 100vh;">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <form class="form-example" id="signup-form">
                <h1>Sign Up</h1>
                <p>Create your account by entering your email address and choosing a password</p>
                <div class="form-group">
                    <input type="text" class="form-control first-name" id="first-name" placeholder="First Name"
                        name="first-name" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control last-name" id="last-name" placeholder="Last Name"
                        name="last-name" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control username" id="username" placeholder="Email Address"
                        name="username" required />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control password" id="password" placeholder="Password"
                        name="password" required />
                </div>
                <p id="error-message" style="display: none; color: red;">You should enter all sections!</p>

                <button type="submit" class="btn btn-primary btn-customized mt-4">
                    Register
                </button>
            </form>       
        </div>
    </div>
</div>



<style>
    .mx-auto {
        border-style: solid;
        padding: 10px;
        margin: 0px 10px;
        color: rgb(70, 144, 173);
    }

    input.form-control {
        margin-bottom: 20px;
    }

    h1 {
        padding-bottom: 15px;
        margin: auto;
        align-self: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    form p {
        text-align: center;
    }
</style>
<script>
    const signupForm = document.getElementById('signup-form');

    signupForm.addEventListener('submit', (event) => {
        event.preventDefault();

        const firstName = document.getElementById('first-name').value;
        const lastName = document.getElementById('last-name').value;
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        if (firstName === '' || lastName === '' || username === '' || password === '') {
            document.getElementById('error-message').style.display = 'block';
        } else {
            const message = `Dear ${firstName} ${lastName},\n\nWelcome to our website! We are excited to have you on board. Thank you for registering on our website.\n\nBest,\n[Your Name]\n[Website Name]`;
            const subject = 'Welcome to our website!';
            const email = username; 
            sendEmail(email, subject, message);
            window.location.href = '/welcome';
        }
    });

    function sendEmail(email, subject, message) {
        console.log(`Email sent to ${email} with subject "${subject}" and message:\n\n${message}`);
    }
</script>


