<div>
    <div class="row align-items-center" style="height: 100vh;">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <h1>Welcome Customer!</h1>
            
            
        </div>
    </div>
</div>

<style>
    .mx-auto {
        border-style: solid;
        padding: 10px;
        margin: 0px 10px;
        color: rgb(70, 169, 173);
    }

    h1 {
        padding-bottom: 15px;
    }
</style>
